<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_myqq2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/qq_icon_table"
        android:label="简易通信"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start.AnimationActivity" />
        <activity android:name=".Start.PagerActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>